/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.sidebar {
  color: #fff;
  position: fixed;
  height: 100%;
  width: 260px;
  background: #11101d;
  padding: 15px;
  z-index: 99;
}
.logo {
  font-size: 25px;
  padding: 0 15px;
}
.sidebar a {
  color: #fff;
  text-decoration: none;
}
.menu-content {
  position: relative;
  height: 100%;
  width: 100%;
  margin-top: 40px;
  overflow-y: scroll;
}
.menu-content::-webkit-scrollbar {
  display: none;
}
.menu-items {
  height: 100%;
  width: 100%;
  list-style: none;
  transition: all 0.4s ease;
}
.submenu-active .menu-items {
  transform: translateX(-56%);
}
.menu-title {
  color: #fff;
  font-size: 14px;
  padding: 15px 20px;
}
.item a,
.submenu-item {
  padding: 16px;
  display: inline-block;
  cursor: pointer;
  width: 100%;
  border-radius: 12px;
  color: #fff;
}
.item i {
  font-size: 12px;
  color: #fff;
}
.item a:hover,
.submenu-item:hover,
.submenu .menu-title:hover {
  background: rgba(255, 255, 255, 0.1);
}
.submenu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  cursor: pointer;
}
.submenu {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: calc(-100% - 26px);
  height: calc(100% + 100vh);
  background: #11101d;
  display: none;
}
.show-submenu ~ .submenu {
  display: block;
}
.submenu .menu-title {
  border-radius: 12px;
  cursor: pointer;
}
.submenu .menu-title i {
  margin-right: 10px;
}
.navbar,
.main {
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
  z-index: 200;
}
.sidebar.close ~ .navbar,
.sidebar.close ~ .main {
  left: 0;
  width: 100%;
}
.navbar {
  position: fixed;
  color: gray;
  padding: 15px 20px;
  font-size: 25px;
  background: white;
  cursor: pointer;
}
.navbar #sidebar-close {
  cursor: pointer;
}
.main {
  position: relative;
  padding-top: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  z-index: 100;
  background: #f5f5f8;
}
.main h1 {
  color: #11101d;
  font-size: 40px;
  text-align: center;
}
.main h2 {
  padding-left: 20px;
  font-size: 30px;
}

.main,
.row {
  padding-left: 10px;
  padding-right: 10px;
}

.card-title {
  position: relative;
  background: #dedee1;
  padding: 30.4px 24px;
  padding: 1.9rem 1.5rem;
}
.section {
  display: none;
}

.section.active {
  display: block;
}

.legend-button {
  position: relative;
  padding: 30.4px 24px;
  padding: 1.9rem 1.5rem;
  width: 100%;
  max-width: 100%;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
  background: #dedee1;
  border: none;
  text-align: center;
  color: inherit;
  cursor: pointer;
  outline: none;
  box-shadow: none;
}

.collapse {
  transition: height 0.5s ease-in-out;
  /* Aumenta el tiempo y suaviza la animación */
}

/* Transición suave para el ícono */
.icon-rotate {
  transition: transform 0.3s ease;
  /* Suaviza la rotación */
}

.rotate-up {
  transform: rotate(180deg);
  /* Rota el ícono 180 grados */
}

.card-content {
  margin: 25px 30px 25px 30px;
}

/* ------------------------- Scripts temporales ------------------------------ */

/* Contenedor de la barra de búsqueda */
.search-container {
  display: flex;
  align-items: center;
}

/* Botón de búsqueda */
#searchButton {
  padding: 10px 15px;
  font-size: 16px;
}

/* Ícono de lupa */
#searchButton i {
  font-size: 18px;
}
